<div class="constructor-control_title">Циферблат</div>
<control-items items="vm.allFaces" 
			   selected-name="vm.selectedFaceName" 
			   select-callback="vm.changeFace"
			   mouseonitem-callback="vm.mouseOnItem"
></control-items>