<div class="constructor-control_title">Стрелки</div>
<control-items items="vm.allHands" 
			   selected-name="vm.selectedHandsName" 
			   select-callback="vm.changeHands"
			   mouseonitem-callback="vm.mouseOnItem"
			   img-class="constructor-control_alter-item-img__hands"
></control-items>
