<div class="image-control_body">
	<div class="image-control_add" ng-show="vm.controlStatus=='add'">
		<div class="image-control_droparea" ngf-drop="vm.upload($file)" ngf-drag-over-class="'image-control_droparea__drag'">
			<div class="image-control_droparea-loadBtn" ngf-select="vm.upload($file)">Загрузите изображение</div>
			<div class="image-control_droparea-info">или перетащите его сюда</div>
		</div>
		<div class="image-control_add-info">На ваших часах можно разместить картинку или логотип</div>
	</div>
	<div class="image-control_edit" ng-show="vm.controlStatus=='edit'">
    	<img class="image-control_preview" ng-src="{{vm.imageUrl}}">
		<div class="image-control_btns">
			<div class="image-control_transformBtn" ng-click="vm.transformModeOn()" ng-class="{'text-control_editBtn__disable':!vm.transformModeOnBtnVisible}">Переместить / изменить размер</div>
			<div class="image-control_deleteBtn" ng-click="vm.delete()">Удалить</div>
		</div>
	</div>	
</div>