<div class="footer" ngclass="{'footer__absolute':vm.currentPage=='askForm' || vm.currentPage=='cabinet' || vm.currentPage=='cabinet'}" ng-cloak>
	<div class="footer_year">2017 г.</div>
	<div class="footer_copyright">© Все права защищены.</div>
	<div class="footer_ip">
		<div class="footer_ip-name">Индивидуальный предприниматель Закурдаев Владимир Сергеевич,</div> 
		<div class="footer_ip-num">ОГРНИП: 312774611001267</div>
	</div>
</div>
