<div class="constructor-interf" >
	
	<div class="constructor-interf_inner">
		<presets-slider ng-if="vm.status=='edit'"></presets-slider>
		<div class="counstructor-view">
			<div class="constructor-view_head" ng-class="{'constructor-view_head__visible':vm.status=='edit'}">
				<div class="constructor-view_currentprice">
					<div class="constructor-view_currentprice-label">Цена:</div>
					<div class="constructor-view_currentprice-val" ng-bind="vm.totalPrice">6 800</div>										
				</div>

				<div class="constructor-view_elmprice" ng-bind="vm.mouseHoverAddPrice" ng-show="vm.mouseHoverAddPrice!=null"></div>
				<div class="constructor-view_maxprice">
					<div class="constructor-view_maxprice-label">цена максимальной комплектации:</div>
					<div class="constructor-view_maxprice-val" ng-bind="vm.maxPrice"></div>
				</div>
			</div>	
			<complite-image-transform></complite-image-transform>
			<complite-text-transform></complite-text-transform>
			<watchcanvas class='watchcanvas'></watchcanvas>			
		</div>
		<div class="constructor-controls" ng-show="vm.status=='edit'"  ng-cloak>
			<text-input-popup ></text-input-popup>
			<tooltips></tooltips>
			<textcontrol class="text-control" ng-if="vm.fontsReady"></textcontrol>
			<imagecontrol class="image-control"></imagecontrol>
			<div class="constructor-controls_watch">
				<div class="constructor-controls_line">
					<casecontrol class="constructor-control"></casecontrol>
					<facecontrol class="constructor-control"></facecontrol>										
				</div>
				<div class="constructor-controls_line">
					<handscontrol class="constructor-control"></handscontrol>
					<strapcontrol class="constructor-control"></strapcontrol>					
				</div>
			</div>
		</div>

		<div class="constructor-orderinfo" ng-show="vm.status=='checkout'"  ng-cloak>
			<div class="constructor-orderinfo_text1">Ваш заказ принят.</div>
			<div class="constructor-orderinfo_text2">Номер заказа: {{vm.orderNum}}</div>
			<div class="constructor-orderinfo_text3">Мы свяжемся с вами в ближайшее время</div>

			<div class="constructor-orderinfo_btns">
				<div class="constructor-orderinfo_newOrderBtn" ng-click="vm.createNewWatch()">Новый макет</div>
				<a href="/help" app-route class="constructor-orderinfo_askBtn">Задать вопрос</a>				
			</div>
			
		</div>
	</div>	
</div>

<div class="constructor-shipping" ng-if="vm.status=='checkout'">
	<div class="constructor-shipping_inner">
		<div class="constructor-shipping_title">
			<img src="/img/ui/repost.png" class="constructor-shipping_title-img">
			<div class="constructor-shipping_title-text">БЕСПЛАТНАЯ ДОСТАВКА ЗА РЕПОСТ!</div>
		</div>
		<div class="constructor-shipping_first" ng-show="vm.shippingRepostStatus=='wait'">
			<div class="constructor-shipping_info">
				<div class="constructor-shipping_info-text">Всем сделавшим репост в одну из социальных сетей будет предоставлена бесплатная доставка</div>
				<img src="/img/ui/shipping.png" class="constructor-shipping_info-img">
			</div>				
		</div>		
		<div class="constructor-shipping_success" ng-show="vm.shippingRepostStatus=='success'">
			<div class="constructor-shipping_success-text">Спасибо за репост! Менеджер внесет изменение в заказ и оформит бесплатную доставку.</div>
		</div>
		<div class="constructor-shipping_btns">
			<div class="constructor-shipping_vkBtn" ng-click="vm.shareVk()">Вконтакте</div>				
			<div class="constructor-shipping_facebookBtn" ng-click="vm.shareFacebook()">Facebook</div>
			<div class="constructor-shipping_twitterBtn" ng-click="vm.shareTwitter()">Twitter</div>				
		</div>	
	</div>
</div>
<div id="vkwidget"></div>
<footer class="footer-wrap" ng-if="vm.status=='checkout'"></footer>

<div class="constructor-info" ng-class="{'constructor-info__visible':vm.status=='edit'}" id="constructor-info">
	<div class="constructor-descr" ng-class="{'constructor-descr__visible':vm.status=='edit'}" id="constructor-descr">
		<div class="constructor-descr_head">
			Конфигурация часов
		</div>
		<div class="constructor-descr_body">
			<div class="constructor-descr_item">
				<div class="constructor-descr_item-label">Корпус</div>
				<div class="constructor-descr_item-val" ng-bind="vm.specification.case"></div>
			</div>
			<div class="constructor-descr_item">
				<div class="constructor-descr_item-label">Циферблат</div>
				<div class="constructor-descr_item-val" ng-bind="vm.specification.face"></div>
			</div>
			<div class="constructor-descr_item">
				<div class="constructor-descr_item-label">Стрелки</div>
				<div class="constructor-descr_item-val" ng-bind="vm.specification.hands"></div>
			</div>
			<div class="constructor-descr_item">
				<div class="constructor-descr_item-label">Ремешок</div>
				<div class="constructor-descr_item-val" ng-bind="vm.specification.strap"></div>
			</div>
			<div class="constructor-descr_item">
				<div class="constructor-descr_item-label">Надпись</div>
				<div class="constructor-descr_item-val">
					<div ng-class="{'constructor-descr_item-val-yes':vm.specification.text,'constructor-descr_item-val-no':!vm.specification.text}"></div>
				</div>
			</div>
			<div class="constructor-descr_item">
				<div class="constructor-descr_item-label">Изображение</div>
				<div class="constructor-descr_item-val">
					<div ng-class="{'constructor-descr_item-val-yes':vm.specification.image,'constructor-descr_item-val-no':!vm.specification.image}"></div>
				</div>
			</div>
			<div class="constructor-descr_item">
				<div class="constructor-descr_item-label">Механизм</div>
				<div class="constructor-descr_item-val">Япония, кварц Miyota</div>
			</div>
		</div>
	</div>
	
	<div class="constructor-info_price">
		<div class="constructor-info_price-label">Цена:</div>
		<div class="constructor-info_price-val" ng-bind="vm.totalPrice"></div>
	</div>
	<orderform class="constructor-form" ></orderform>

	
</div>

<footer class="footer-wrap" ng-if="vm.status!='checkout'"></footer>


