<!DOCTYPE html>
<html>
<head>
	<title>Именные наручные ЧАСЫ</title>
	<!-- uncache -->
	<link rel="stylesheet" type="text/css" href="/css/dist/style.css">
	<!-- enduncache -->
	<link rel="stylesheet" type="text/css" href="/css/dist/libs-style.css">
	<link rel="stylesheet" type="text/css" href="/fonts/fonts.css">
	<link rel="shortcut icon" type="image/png" href="/img/favicon48.ico"/>
	<meta name="viewport" content="width=1200 height=2080">
	<meta charset="utf-8">
	<meta property="og:image" content="http://watchn1.ru/img/clock.png" />
	<meta name="twitter:image" content="http://watchn1.ru/img/clock.png">
</head>
<body>
<div class="site-wrap" ng-app="WatchApp" ng-controller="WatchAppController as vm">	
	<div class="header">
		<div class="header_inner">
			<a href="/" app-route class="header_title" ng-click="vm.openMainPage()">
				<div class="header_title-text1">ИМЕННЫЕ</div>
				<img class="header_title-img" src="/img/header-title-icon.png">
				<div class="header_title-text2">НАРУЧНЫЕ ЧАСЫ</div>
			</a>
			<div class="header_cntrl">
				<a href="tel:+74956468095" class="header_phone">+7 (495) 646-80-95</a>
				<div class="header_menu">
					<a href="/imennye-chasy" app-route class="header_menu-item" ng-class="{'header_menu-item__active':vm.currentPage=='constructor'}">
						<div class="header_menu-item-text">конструктор</div>
					</a>
					<a href="/delivery" app-route class="header_menu-item" ng-class="{'header_menu-item__active':vm.currentPage=='delivery'}">
						<div class="header_menu-item-text">доставка</div>
					</a>
					<a href="/signin" app-route class="header_menu-item" ng-class="{'header_menu-item__active':vm.currentPage=='cabinet'}">
						<div class="header_menu-item-text" >личный кабинет</div> 
					</a>
					<a href="/help" app-route class="header_menu-item header_menu-item__last" ng-class="{'header_menu-item__active':vm.currentPage=='askForm'}">
						<div class="header_menu-item-text" >задать вопрос</div>
					</a>
				</div>
			</div>	
		</div>
		<div class="header_bg-decor1"></div>
		<div class="header_bg-decor2"></div>
	</div>
	<div class="pageProgress" id="pageProgress">
		<div class="pageProgress_bar" id="pageProgress_bar"></div>
	</div>
	<div id="mainPage" class="mainPage animate-if" ng-cloak ng-if="vm.currentPage=='main'">
		
		<div class="watchinfo">
			<div class="constrstart">
				<div class="constrstart_title">Начните работу в ON-LINE конструкторе</div>
				<div class="constrstart_box">
					<div class="constrstart_box-half constrstart_box-half__man">
						<a href="/imennye-chasy/male" app-route class="constrstart_watch-img constrstart_watch-img__man"></a>
						<a href="/imennye-chasy/male" app-route class="constrstart_selectBtn">Выбрать</a>
						<div class="constrstart_watch-type constrstart_watch-type__man">именные часы для мужчин</div>
					</div>
					<div class="constrstart_box-half constrstart_box-half__woman">
						<a href="/imennye-chasy/female" app-route class="constrstart_watch-img constrstart_watch-img__woman"></a>
						<a href="/imennye-chasy/female" app-route class="constrstart_selectBtn">Выбрать</a>
						<div class="constrstart_watch-type constrstart_watch-type__woman">именные часы для женщин</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="examples" id="examples">
			<div class="examples_title">Реальные примеры именных часов</div>
			<div class="examples_items">
				<div class="examples_item">
					<img class="examples_item-img" src="/img/examples/slide1.jpg">
				</div>
				<div class="examples_item">
					<img class="examples_item-img" src="/img/examples/slide2.jpg">
				</div>
				<div class="examples_item">
					<img class="examples_item-img" src="/img/examples/slide3.jpg">
				</div>
				<div class="examples_item">
					<img class="examples_item-img" src="/img/examples/slide4.jpg">
				</div>
				<div class="examples_item">
					<img class="examples_item-img" src="/img/examples/slide5.jpg">
				</div>
				<div class="examples_item">
					<img class="examples_item-img" src="/img/examples/slide6.jpg">
				</div>
			</div>
			<div class="examples_prev">
				<div class="examples_prev-arrow"></div>
			</div>
			<div class="examples_next">
				<div class="examples_next-arrow"></div>
			</div>		
		</div>

		<div class="about">
			<div class="about__title">Именные часы №1. По-настоящему твои!</div>
			<div class="about__content">
				<div class="about-img about__owner-img">
					<img src="/img/about/vladimir-zakurdaev.png" class="about-img__img" title="Владимир Закурдаев Основатель проекта">
					<div class="about-img-descr about__owner-img-descr">
						<div class="about-img-descr__text about-img-descr__text_italic about__owner-name">Владимир Закурдаев</div>
						<div class="about-img-descr__text ">Основатель проекта</div>
					</div>
				</div>
				
				<div class="about-maintext about__hello">
					Рад знакомству! Меня зовут Владимир Закурдаев.<br> 
					Я – основатель проекта «Именные часы №1». Раз вы не перешли в конструктор именных наручных часов, то думаю вы заинтересовались проектом и концепцией именных часов. Расскажу обо всем подробно, посмотрим, выдержите ли до конца.
				</div>

				<div class="about__text-title">
					<div class="about__text-title-content">
						Моя история
					</div>
				</div>
				
				<div class="about-text about__history-text">
					<p>
					Начну издалека. Я хорошо помню свой детский трепет, когда разглядывал дедушкины часы «Победа». Притягивали меня выгравированные на задней крышке поздравительные слова и имя деда (Владимир Закурдаев). Я мечтал носить часы, где будет вписано мое имя. И когда отец передал мне свою старую «Ракету» (это было во втором классе) я тут же попытался перочинным ножом вытащить стекло, которое не выдержало моего напора и лопнуло. Это меня не особо смутило, и на ярко синем, переливающемся циферблате появилась аккуратно выцарапанная швейным шилом надпись: «Владимир Закурдаев». Отец молча забрал испорченные часы… и вернул их через несколько дней с новым стеклом, не тронув циферблат! 
					<div class="about-img about__first-watch-img">
						<img src="/img/about/first-watch.png" class="about-img__img" title="Первый экземпляр собственного производства.">
						<div class="about-img-descr about__first-watch-img-descr">
							<div class="about-img-descr__text">Первый экземпляр<br> собственного производства.</div>
						</div>
					</div>
					Пять лет я гордо носил их, пока они не пропали из шкафчика во время одной из тренировок. Эти часы и те чувства, которые меня переполняли, повлияли на моё отношение к часам вообще и, особенно, к именным экземплярам.
					</p>
					
					<p>
					Именно поэтому, узнав о Первой часовой школе, тут же отправился изучать часовое мастерство. Постепенно пришло понимание процесса и нашлись решения технологических проблем. Собирая по крупицам знания и разные технологии, нашел ту, которая позволяла каждому желающему получить именные часы со своим именем на циферблате.
					</p>					
					<p>
					Прошло два года с появления идеи проекта именных наручных часов, и этот сайт увидел свет. Всё готово для воплощения моей мечты! 
					</p>
					<p>
					У меня на руке обосновался первый образец, на котором испытывалась новая технология. Как любой «первый блин» он неидеален… Но этот экземпляр мне дорог, как когда-то доработанный мной подарок отца!
					</p>
				</div>

				<div class="about__text-title">
					<div class="about__text-title-content">
						О часах
					</div>
				</div>
				
				<div class="about__watch-menu">
					<a href="#about-case" class="about__watch-menu-link" du-smooth-scroll>корпус</a>
					<a href="#about-straps" class="about__watch-menu-link" du-smooth-scroll>ремешки</a>
					<a href="#about-clasp" class="about__watch-menu-link" du-smooth-scroll>застежка</a>
					<a href="#about-hands" class="about__watch-menu-link" du-smooth-scroll>стрелки</a>
					<a href="#about-face" class="about__watch-menu-link" du-smooth-scroll>циферблаты</a>
					<a href="#about-build" class="about__watch-menu-link" du-smooth-scroll>производство</a>
				</div>
				<div class="about-maintext about__watch-inside">
					Пропущу длинный и изматывающий период выбора поставщиков и производителей. Много времени ушло на проверку качества. Намного больше, чем на подготовку дизайн-макетов, эскизов и чертежей. Но о результатах этой работы я расскажу вам с удовольствием!
				</div>

				<div id="about-case" class="about__text-sub-title">Корпус</div>

				<div class="about-text about__case-text">
					
					<img src="/img/about/case.png" class="about__case-img" title="Корпус часов">
					<p>
						Его вручную вытачивают на токарном станке, как и сотни лет назад. Материал – сталь марки 316L. Именно из нее изготавливают часы именитые часовые бренды. Непосвященные не обратят внимание, но на корпусе «Именных часов №1» три вида финишной обработки! На фотографиях хорошо видны отполированные участки (поверхность гладкая, как зеркало), а сбоку корпус обработан продольным шлифованием, а между ушками крепления ремешка – поперечная шлифовка.
					</p>
					<p>
						Корпус водонепроницаемый: до 3 Атм. Плавать в них, конечно, не рекомендуется, но интенсивные брызги переносит без проблем.
					</p>
					
					<p>
						Задняя крышка на резьбе – это не дешевая «хлопушка»!
					</p>
					<p>
						Стекло минеральное, отлично противостоит попыткам поцарапать их. Сохранит отличную видимость циферблата надолго.
					</p>
					<div class="about-img-descr about__case-img-descr">
						<div class="about-img-descr__text">
							Лицевая часть – отполирована, как ушко для крепления ремешка. <br>
							Боковые отшлифованы в двух техниках: продольное шлифование (слева от ушка) и поперечно (между ушками)
						</div>
					</div>
				</div>

				<div id="about-straps" class="about__text-sub-title">Ремешок</div>
				<div class="about-text about__strap-text">
					
					<p>
						<img src="/img/about/straps.png" class="about__strap-img" title="Ремешки">
						Стандартные ремешки пошиты из телячьей кожи – мягкие, добротные. К их выбору подошел критично – очень раздражают жесткие и трескающиеся ремешки (в дорогих часах эта беда тоже встречается). Перед закупкой взял образцы и носил полгода, не снимая даже в душе – не трескаются, остаются мягкими! Для имеющих свои предпочтения есть силиконовые, каучуковые ремешки и ремешки из редких сортов кож (например, из кожи акулы… или что там у нее?). Уже присмотрел хорошие тяжелые цельнолитые браслеты, которые не выдергивают волоски на руке (кто сталкивался, тот понимает масштаб проблемы) – по запросу готовы предложить варианты, пишите в комментариях к заказу.
					</p>					
				</div>
				
				<div id="about-clasp" class="about__text-sub-title">Застежки</div>
				<div class="about-text about__clasp-text">
					<p>
						Ремешки идут с застежкой-бабочкой. Это чрезвычайно удобная штука! Для тех, кто не сталкивался, расскажу. Эта застежка совмещает комфорт кожаного ремешка с простотой застегивания браслета. Подогнал по размеру один раз, и дальше застегивай, как браслет! При этом длина меняется в любой момент: не комфортно в жару – чуть ослабил прямо на ходу, подморозило – подтянул.
					</p>
				</div>
				
				<div class="about__clasp-imgs-line">
					<div class="about-img about__clasp-img-1">
						<img src="/img/about/clasp-1.jpg" class="about-img__img" title="Фото застежки-бабочки несколько вариантов">
						<div class="about-img-descr about__clasp-img-1-descr">
							<div class="about-img-descr__text">Фото застежки-бабочки несколько вариантов</div>
						</div>
					</div>
					<div class="about-img about__clasp-img-2">
						<img src="/img/about/clasp-2.jpg" class="about-img__img" title="С помощью защелки со штифтом отрегулирована длина ремешка">
						<div class="about-img-descr about-img-descr_right about__clasp-img-2-descr">
							<div class="about-img-descr__text">С помощью защелки со штифтом отрегулирована длина ремешка</div>
						</div>
					</div>
				</div>

				<div class="about__clasp-imgs-line">
					<div class="about-img about__clasp-img-3">
						<img src="/img/about/clasp-3.jpg" class="about-img__img" title="Защелкнута одна половина застежки">
						<div class="about-img-descr about__clasp-img-3-descr ">
							<div class="about-img-descr__text">Защелкнута одна половина застежки</div>
						</div>
					</div>
					<div class="about-img about__clasp-img-4">
						<img src="/img/about/clasp-4.jpg" class="about-img__img" title="Перед защелкиванием второй половины застежки, запускаем конец ремешка в петлю">
						<div class="about-img-descr about-img-descr_right about__clasp-img-4-descr">
							<div class="about-img-descr__text">Перед защелкиванием второй половины застежки, запускаем конец ремешка в петлю</div>
						</div>
					</div>
				</div>
				
				<div id="about-hands" class="about__text-sub-title">Стрелки</div>
				<div class="about-text about__hands-text">
					<p>
						Пока составлял документацию на производство стрелок, чуть не разорвался! Не мог решить: хромированные нужны или черные. К консенсусу не пришел, поэтому в ассортименте два варианта хромированных: «кинжалы» и «копья», и один элегантный вариант классических черных.
					</p>
				</div>
				
				<div id="about-face" class="about__text-sub-title">Циферблат</div>
				<div class="about-text about__face-text">
					<p>
						<div class="about-img about__face-img">
							<img src="/img/about/face.jpg" class="about-img__img" title="Заготовки циферблатов">
							<div class="about-img-descr about-img-descr_right about__face-img-descr">
								<div class="about-img-descr__text">Заготовки циферблатов</div>
							</div>
						</div>
						Поверхность всех циферблатов с эффектом SunBurst: в отраженном свете они переливаются лучами, идущими из центра. Это особенно отчетливо видно на металлическом фоне, чуть меньше на черном и белом. На черном циферблате нет цифр, зато его метки выточены из металла вручную. В их конструкции снизу есть два микроштырька для крепления. Мастера вручную устанавливают их в специально просверленные отверстия в циферблате и закрепляют.
					</p>					
				</div>
				<div class="about-img about__all-faces-img">
					<img src="/img/about/all-faces.jpg" class="about-img__img" title="Циферблаты">
					<div class="about-img-descr about__all-faces-descr">
						<div class="about-img-descr__text">
							Черный, металлический и белый фоны циферблатов.<br> 
							Хромированные стрелки «Кинжалы» и черные классические стрелки.
						</div>
					</div>
				</div>
				
				<div id="about-build" class="about__text-sub-title about__text-sub-title_build">Производство</div>
				<div class="about-text about__build-text-1">
					<p>
						<div class="about-img about__build-img">

							<video width="640" height="360" controls="controls" poster="" class="about-img__img">
								<source src="/video/watchn1.mov" >
							</video>
							<div class="about-img-descr about__build-img-descr">
								<div class="about-img-descr__text">Сборка именных часов №1</div>
							</div>
						</div>
						
					</p>
					<p>
						Оформленный заказ попадает сначала к дизайнеру – он доводит до идеала ваш эскиз (точно выравнивает элементы, подбирает межстрочные интервалы для текста и подгоняет размер шрифта и т.п.). Готовый макет дизайнер высылает вам на утверждение по электронной почте. На этом этапе еще возможны любые изменения.
					</p>
					<p>
						Когда макет утвержден, заказ отправляется в производство. На выбранный вами вариант циферблата наносится макет.
					</p>
					<p>
						Готовый циферблат поступает часовому мастеру, который и собирает для вас часы по вашему заказу.
					</p>	
					<p>
						Готовый экземпляр закрепляют вокруг специальной часовой подушки и прячут в футляр.
					</p>	
					<p>
						Ваш заказ готов к отправке!
					</p>			
				</div>
				<div class="about-text about__build-text-2">
					<p>
						Если вы нас поддержали и после оформления заказа поделились изображением ваших часов в социальных сетях, мы отблагодарим бесплатной доставкой.
					</p>
					<p>
						На производство уходит обычно 3-4 дня от момента поступления заказа до отправки изготовленных для вас именных часов.
					</p>
				</div>
				<div class="about-maintext about__conclusion">
					Дочитали до конца? Примите мою искреннюю благодарность! Это значит, вам действительно интересен наш проект и часовая тема. Не буду больше задерживать вас рассказами. Действуйте! Определите, как выглядят ваши именные наручные часы №1

					<a href="/imennye-chasy" app-route class="about__orderBtn">Заказать именные часы</a>
				</div>

				
			</div>
		</div>
		<footer class="footer-wrap"></footer>
	</div>
	<!-- end #mainPage -->
	<div class="constructorPage animate-if" id="constructorPage" ng-if="vm.currentPage=='constructor'">
		<watchconstructor ></watchconstructor>
	</div>
	
	<div class="askFormPage animate-if" ng-if="vm.currentPage=='askForm'">
		<askform class="askForm"></askform>
	</div>
	<div class="cabinetPage animate-if" ng-if="vm.currentPage=='cabinet'">
		<cabinetsignin class="cabinetSignin" on-signin-success="vm.openCurrentConstructor"></cabinetsignin>
	</div>

	<div class="deliveryPage animate-if" ng-if="vm.currentPage=='delivery'">
		<deliverypage></deliverypage>
	</div>
</div>


<div class="font-loader font-loader_BrushMT">a</div>
<div class="font-loader font-loader_Calligraphia">a</div>
<div class="font-loader font-loader_ComicSans">a</div>
<div class="font-loader font-loader_Copperplate">a</div>
<div class="font-loader font-loader_Heinrich">a</div>
<div class="font-loader font-loader_Helvetica">a</div>
<div class="font-loader font-loader_Moderno">a</div>

</body>
</html>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44321164 = new Ya.Metrika({
                    id:44321164,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44321164" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script src="/js/libs/jquery.js"></script>
<script type="text/javascript" src="/js/libs/angular.min.js"></script>
<script type="text/javascript" src="/js/libs/fabric.min.js"></script>
<script type="text/javascript" src="/js/dist/libs.js"></script>
<!-- uncache -->
<script type="text/javascript" src="/js/dist/build.js"></script>
<script type="text/javascript" src="/js/source/config/casesConf.js"></script>
<script type="text/javascript" src="/js/source/config/facesConf.js"></script>
<script type="text/javascript" src="/js/source/config/handsConf.js"></script>
<script type="text/javascript" src="/js/source/config/strapsConf.js"></script>
<script type="text/javascript" src="/js/source/config/fontsConf.js"></script>
<script type="text/javascript" src="/js/source/config/fontcolorsConf.js"></script>
<script type="text/javascript" src="/js/source/config/presetsConf.js"></script>
<!-- enduncache -->