@font-face {
    font-family: Pollock;
    src:url('../fonts/pollock/pollock.woff') format('woff'),url('../fonts/pollock/pollock.ttf') format('truetype');
    font-style: normal;
}

@font-face {
	font-family: Roboto;
	font-weight:300;
	src:url(../fonts/roboto/roboto-300.ttf);
}

@font-face {
	font-family: Roboto;
	font-weight:400;
	src:url(../fonts/roboto/roboto-400.ttf);
}

@font-face {
	font-family: Roboto;
	font-weight:700;
	src:url(../fonts/roboto/roboto-700.ttf);
}