body {
	background-color: #ddd;
}

.site-wrap{
	min-width: 1200px;
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
}

.inner {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.header{
	background-image: url(../img/header/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 768px;
	position: relative;
}

.header__title{
	color: #ffffff;
	font-family: Roboto;
	font-size: 42px;
	font-weight: 700;
    border-bottom: 3px solid #fff;
    position: absolute;
    top: 56px;
    left: 50%;
    margin-left: -187px;
    padding-left: 3px;
    padding-right: 8px;
}

.header-slogan{
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(../img/header/rectangle.png);
	width: 840px;
	height: 417px;
	border: 2px solid #606060;
	background-color: #2d2d2d;
	position: absolute;
    top: 176px;
    left: 50%;
    margin-left: -268px;
    padding-top: 65px;
    padding-left: 170px
}

.header-slogan__text1{
	color: #ffffff;
	font-family: Pollock;
	font-size: 52px;
	font-weight: 400;
}

.header-slogan__text2{
	color: #ffffff;
	font-family: Roboto;
	font-size: 35px;
	font-weight: 700;    
	margin-top: 58px;
    margin-left: 16px;
}

.header__info{
	color: #ffffff;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 400;
	width: 762px;
	border: 1px solid #686868;
	background-color: #000000;
	position: absolute;
    top: 506px;
    left: 50%;
    margin-left: -190px;
    padding-top: 20px;
    padding-bottom: 29px;
    padding-left: 81px;
}

.header__orederBtn {
	display: block;
    /*margin-left: 157px;*/
	margin-top: 30px;
	background-color: rgb(76, 133, 60);
	width: 328px;
	line-height: 46px;
	text-align: center;
	font-size: 23px;
	font-family: "Roboto";
	color: #fff;
	text-decoration: none;	
}

.header__orederBtn:hover {
	background-color: rgb(45, 104, 28);
}

.header__orederBtn:hover {

}

.header__watch{
	position: absolute;
	right: 50%;
    margin-right: 95px;
	top: 0;
}

.screen2{
	height: 767px;
	background-image: url(../img/screen2/BGII.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
}

.screen2__title{
	color: #ffffff;
	font-family: Pollock;
	font-size: 54px;
	font-weight: 400;
	position: absolute;
	right: 50%;
    margin-right: 188px;
    top: 197px
}

.screen2__slogan{
	color: #000000;
	font-family: Pollock;
	font-size: 41px;
	font-weight: 400;
	position: absolute;
	right: 50%;
    margin-right: -140px;
    top: 434px;
}

.screen2__watch{
	position: absolute;
	right: 50%;
    margin-right: 260px;
    top: 364px;
}

.between{
	height: 130px;
    padding-top: 30px;
    box-sizing: border-box;
}

.between_one{
	background-color: #3e403a;
	background-image: url(../img/between/1/crack.png);
	background-repeat: no-repeat;
	background-position: 0 0;
    box-sizing: border-box;
}

.between__img{
	display: inline-block;
	vertical-align: top;
}

.between__text{
	color: #ffffff;
	font-family: Pollock;
	font-size: 49px;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
    margin-left: 26px;
}

.screen3{
    height: 612px;
	background-image: url(../img/screen3/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
}

.screen3-slogan{
}

.screen3-slogan__watch{
	position: absolute;
	left: 50%;
    margin-left: 178px;
    top: 0px;
    z-index: 10;
}

.screen3-slogan__text{
	position: absolute;
	left: 50%;
	color: #ffffff;
	font-family: Pollock;
	font-size: 38px;
	font-weight: 400;
	background-color: rgba(94, 103, 84, 0.94);
	display: inline-block;
	vertical-align: top;
	height: 71px;
}

.screen3-slogan__text_location1{
    margin-left: -518px;
    top: 361px;
    padding-right: 32px;
    padding-left: 38px;
    padding-top: 11px;
}

.screen3-slogan__text_location2{
    margin-left: -109px;
    top: 435px;
    font-size: 45px;
    padding-left: 32px;
    padding-top: 9px;
    padding-right: 43px;
}

.between_two{
	background-color: #64714a;
    padding-top: 30px;
    box-sizing: border-box;
}

.screen4{
	position: relative;
	height: 705px;
	background-image: url(../img/screen4/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	border-bottom: 8px solid #626262;
	overflow: hidden;
}

.screen4__slogan{
	color: #fefefe;
	font-family: Pollock;
	font-size: 41px;
	font-weight: 400;
	position: absolute;
	right: 50%;
    margin-right: -413px;
    top: 428px;
}

.screen4__watch{
	position: absolute;
	right: 50%;
    margin-right: 169px;
	top: 0;
}

.between_thry{
	background-color: #3b3b3b;
    padding-top: 20px;
}

.screen5{
	position: relative;
    height: 606px;
	background-image: url(../img/screen5/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.screen5__slogan{
	position: absolute;
	left: 50%;
    margin-left: 85px;
    top: 353px;
    text-align: center;
    line-height: 58px;
	color: #000000;
	font-family: Pollock;
	font-size: 37px;
	font-weight: 400;

}

.screen5__watch{
	position: absolute;
	left: 50%;
    margin-left: 0px;
    top: 1px;
}

.between_forty{
	background-color: #557230;
	border-top: 8px solid #32411f;
    padding-top: 19px;
}

.screen6{
	height: 584px;
	background-image: url(../img/screen6/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
}

.screen6__slogan{
	position: absolute;
	right: 50%;
    margin-right: -438px;
    top: 393px;
    padding-left: 21px;
    padding-top: 4px;
    padding-right: 15px;
	height: 57px;
	background-color: #557230;
	color: #ffffff;
	font-family: Pollock;
	font-size: 38px;
	font-weight: 400;
}

.screen6__watch{
	position: absolute;
	right: 50%;
	margin-right: 150px;
    top: 24px;
}

.screen7{
	position: relative;
	height: 691px;
	background-image: url(../img/screen7/BGI.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.screen7__watch{
	position: absolute;
	left: 50%;
    top: 2px;
    margin-left: -519px;
    z-index: 5;
}

.screen7__title{
    position: absolute;
    left: 50%;
    margin-left: -216px;
    z-index: 1;
    top: 117px;
    height: 100px;
    background-color: #c4c4c4;
    padding-left: 313px;
    padding-top: 23px;
    padding-right: 138px;
	color: #333333;
	font-family: Copperplate;
	font-size: 50px;
	font-weight: 400;
}

.screen7-input{
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 329px;
}

.screen7-input__img-triangle{
	display: inline-block;
	vertical-align: top;
    margin-right: 12px;
    margin-top: 4px;
}

.screen7-input__element{
	display: inline-block;
	vertical-align: top;
	width: 355px;
	height: 51px;
	border-radius: 4px;
	border: 1px solid #717171;
	background-color: #ffffff;
    color: #3c3b3b;
	font-family: Roboto;
	font-size: 27px;
	font-weight: 400;
    padding-left: 10px;
    outline: none;
}

.screen7-input__button{
    display: block;
    width: 355px;
    height: 54px;
    line-height: 54px;
    border: 1px solid #ffffff;
    background-color: #2e5883;
    color: #ffffff;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-left: 60px;
    margin-top: 33px;
    text-decoration: none;
}

.screen7-input__button:hover {
    background-color: #154474;
}

.screen8{
    height: 772px;
    position: relative;
    background-color: #eae9db;
}

.screen8__title{
	color: #5e6953;
	font-family: Pollock;
	font-size: 49px;
	font-weight: 400;
	position: absolute;
	left: 50%;
    margin-left: -299px;
    top: 46px;
}


.screen8__info-text{
    background-color: #dfddc7;
    color: #3d4236;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    width: 1199px;
    position: absolute;
    left: 50%;
    margin-left: -599px;
    top: 136px;
    padding-left: 78px;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-right: 64px;
}

.screen8-explanation{
	position: absolute;
	left: 50%;
    margin-left: -554px;
    top: 354px;
}

.screen8-explanation__main-text{
    color: #1b1c1d;
	font-family: Pollock;
	font-size: 41px;
	font-weight: 400;
	border-bottom: 3px solid #000;
    display: inline-block;
    vertical-align: top;
    padding-left: 53px;
    padding-right: 3px;
}

.screen8-explanation__text{
	color: #1b1c1d;
	font-family: Roboto;
	font-size: 27px;
	font-weight: 400;
	position: relative;
    margin-left: 127px;
    margin-top: 27px;
}

.screen8-explanation__text:before {
	content: url(../img/screen8/triangle.png);
	width: 15px;
	height: 19px;
	position: absolute;
	top: 0px;
    left: -33px;
}

.screen8-explanation__text_location1{
    margin-top: 34px;
}

.screen8-explanation__text_location2{
}

.screen8-explanation__text_location3{
}

.screen8-explanation__text_location4{
}

.screen9{
	background-color: #3b3b3b;
	height: 831px;
	position: relative;
}

.screen9__title{
	background-image: url(../img/screen9/fon.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 153px;
	color: #ffffff;
	font-family: Pollock;
	font-size: 49px;
	font-weight: 400;
	text-align: center;
	line-height: 35px;
    padding-top: 68px;
}

.screen9-steps{
    counter-reset: steps;
    position: absolute;
    left: 50%;
    top: 243px;
    margin-left: -368px;
}

.screen9-steps__text{
	color: #ffffff;
	font-family: Roboto;
	font-size: 31px;
	font-weight: 400;
	position:relative;
    margin-left: 1px;
    margin-top: 46px;
}

.screen9-steps__text__coursiv{
	font-weight: 300;
	font-style: italic;
    margin-top: 0px;
    color: #ffffff;
	font-family: Roboto;
	font-size: 31px;
}

.screen9-steps__text__margintop-bigger{
	margin-top: 18px;
}

.screen9-steps__text:first-child {
	margin-top: 0px;
}

.screen9-steps__text:before {
	position: absolute;
	counter-increment: steps;
	content: "Шаг "counter(steps) ".";
    top: -9px;
    left: -185px;
    color: #f5f1bf;
	font-family: Roboto;
	font-size: 45px;
	font-weight: 700;
}

.screen10{
	background-color: #eae9db;
	position: relative;
    padding-top: 47px;
    padding-bottom: 88px;
}

.screen10__slogan{
	color: #0c0c0c;
	font-family: Pollock;
	font-size: 45px;
	font-weight: 400;
	text-align: center;
}

.screen10__button{
    width: 414px;
    line-height: 62px;
    border: 1px solid #777777;
    background-color: #f66262;
    color: #ffffff;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-left: 199px;
    margin-top: 60px;
    text-decoration: none;
}

.screen10__button:hover {
	background-color: #f54848;
}

.screen10__button:before {
	content: url(../img/screen10/arrow.png);
	position: absolute;
	top:5px;
	left: -199px;

}


.footer{
    height: 272px;
	background-color: #000000;;
	position: relative;
	overflow: hidden;
}

.footer-social{
    text-align: right;
    margin-right: 85px;
    margin-top: 28px;
}

.footer-social__item-text{
    color: #fff;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-right: 67px;
    margin-top: 24px;
}

.footer-social__item{
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 103px;
    height: 78px;
}

.footer-social__item_vk{
	background-image: url(../img/screen10/vk.png);
}

.footer-social__item_twit{
	background-image: url(../img/screen10/twit.png);
}

.footer-social__item_fb{
	background-image: url(../img/screen10/fb.png);
}

.footer-items{
	position: absolute;
    left: 50%;
    margin-left: -509px;
    top: 171px;
}

.footer-items__item{
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
    margin-right: 29px;
}

.footer-items2{
	position: absolute;
    left: 50%;
    margin-left: -123px;
    top: 144px;
    width: 628px;
    height: 75px;
    border: 1px solid #ffffff;
    text-align: left;
    padding-left: 133px;
    box-sizing: border-box;
}

.footer-items2__item{
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 300;
    margin-top: 7px;