@font-face {
    font-family: 'Brush MT';
    /*src: url('BrushScriptIt.ttf');*/
    src: url('BrushScriptMT.eot?#iefix') format('embedded-opentype'),  url('BrushScriptMT.woff') format('woff'), url('BrushScriptMT.ttf')  format('truetype');
}