.textInputPopup {
  position:fixed; 
  width: 444px;
  height: 245px;
  left: 50%;
  margin-left: -222px;
  top: 30%;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  background-color: #1b78a1;
  padding: 25px 34px;
  box-sizing: border-box;
  z-index: 11;

  &__title {
    color: #ffffff;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 22px;
  }

  &__textinp {
    width: 367px;
    line-height: 47px;
    height: 47px;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    padding: 0 10px;
    font-size: 22px;
    box-sizing: border-box;
  }
  
  &__okBtn {
    display: block;
    box-shadow: 3px 3px 9px 1px rgba(101, 100, 100, 0.68);
    border-radius: 1px;
    border: 1px solid #6c6c6c;
    background-image: linear-gradient(180deg, #817e7e 0%, #777575 50%, #606060 51%, #525252 100%);
    text-shadow: 2px 2px 7px rgba(72, 72, 72, 0.69);
    width: 180px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 23px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 22px;
    cursor: default;
    opacity: 0.7;

    &_active {
      opacity: 1;
      &:hover {
        background-image: linear-gradient(180deg, #6e6c6c 0%, #606060 50%, #4f4f4f 51%, #494949 100%);
        box-shadow: 2px 2px 9px 1px rgba(101, 100, 100, 0.68);
      } 
    }       
  } 
}

.textInputPopup-bg {
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color:rgba(68, 68, 68, 0.83);
  z-index: 10; 
}
