.constructor-interf {
  background-image: url(/img/constructor/checkout-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 40px;
  padding-bottom: 68px;
}

.constructor-interf__absolute {
  display: block;
  position: absolute;
  position: absolute;
  top: 146px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(/img/constructor/checkout-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size:cover;
}

.constructor-interf_inner{
  width: 1135px;
  margin: 0 auto;
  position: relative;

}

.watchcanvas {
  width: 500px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}

.watchcanvas canvas {
  cursor:default !important;
}

.counstructor-view {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.constructor-view_head {
  width: 500px;
  height: 59px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
  background-color: #2995d6;
  visibility: hidden;
}

.constructor-view_head__visible {
  visibility: visible;
}

.constructor-view_currentprice {
  display: inline-block;
  vertical-align: top;
}

.constructor-view_currentprice-label {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  margin-top: 21px;
  margin-left: 15px;
  margin-right: 0px;
}

.constructor-view_currentprice-val {
  display: inline-block;
  vertical-align: top;
  font-family: Roboto;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  margin-top: 18px;
}

.constructor-view_currentprice-val::after {
  content: "";
  background-image: url(/img/ui/rubl.png);
  display: inline-block;
  vertical-align: top;
  width: 9px;
  height: 16px;
  margin-left: 4px;
  margin-top: 2px;
  background-size: cover;
}


.constructor-view_elmprice {
  display: inline-block;
  vertical-align: top;
  color: #f4fbff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
  margin-left: 3px;
}

.constructor-view_elmprice::after {
  content:"";
  display: inline-block;
  vertical-align: top;
  background-image: url('/img/ui/rubl.png');
  background-size: cover;
  width: 8px;
  height: 13px;
  margin-left: 3px;
  margin-top: 1px;
  opacity: 0.7;
}

.constructor-view_maxprice {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 16px;
  margin-top: 24px;
}

.constructor-view_maxprice-label {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  margin-top: 1px;
}

.constructor-view_maxprice-val {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
}

.constructor-view_maxprice-val::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  background-image: url(/img/ui/rubl.png);
  background-size: cover;
  width: 7px;
  height: 12px;
  margin-left: 3px;
  margin-top: 1px;
}

.compliteImgTransform {
  position: absolute;
  top:59px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 10;
  background-color: #fbffb8;
}

.compliteImgTransform_info {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  color: #444;
  line-height: 40px;
  padding-left: 10px;
}

.compliteImgTransform_btn {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  padding: 6px 18px;
  background-color: #1b78a1;
  color: #fff;
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  cursor: default;
}

.compliteImgTransform_btn:hover{
  background-color: #3595bf;
}


.watch-specification {
  display: block;
  width: 500px;
  margin-top: 20px;
  font-size: 17px;
  font-family: sans-serif;
}

.constructor-controls {
  display: inline-block;
  vertical-align: top;
  margin-left: 21px;
  width: 609px;
  height: 500px;
  position: relative;
}

.constructor-controls_watch {
  margin-top: 7px;
  display: block;
  height: 299px;
  background-color: rgba(255,255,255,0.95);
}

.constructor-controls_line {
  margin-bottom: 0px;
}

.constructor-control {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 269px;
  margin: 0 16px;
  margin-top: 16px;
}

.constructor-control_title {
  color: #3486b5;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 12px;
}

.constructor-control_title-type {
  display: inline-block;
  vertical-align: top;
  width: 90px;
  color: #6aaacd;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 100;
  cursor: pointer;
}

.constructor-control_title-type:hover, .constructor-control_title-type__active {
  color: #3486b5;
  font-weight: 300;
}

.constructor-control_title-type-sep{
  display: inline-block;
  vertical-align: top;
  color: #3486b5;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 300;
  margin: 0 14px;
}

.constructor-control_items {
  height: 93px;
  overflow-x: hidden;
  position: relative;
}

.constructor-control_items-topline {
  position: absolute;
  height: 0px;
  width: 100%;
  border: 1px dashed #40a6e0;
  top: 39px;
}

.constructor-control_items .mCSB_container {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}

.constructor-control_items .mCSB_scrollTools {
  top:0 !important;
  bottom: auto !important;
}

.constructor-control_items .mCSB_dragger_bar{
  background-color: #40a6e0 !important;
}

.constructor-control_items .mCSB_draggerRail{
  background-color: rgba(64, 166, 224, 0.34) !important;
}

.constructor-control_items-inner {
  height: 68px;
}

.constructor-control_items-rightarrow {
  position: absolute;
  top: 43px;
  right:-2px;
  background-image: url(/img/ui/scroll-arrow-right.png);
  width: 32px;
  height: 82px;
  background-position: 0px 9px;
  background-repeat: no-repeat;
  display: none;
}

.constructor-control_items-rightarrow__visible {
  display: block;
}

.constructor-control_items-rightarrow:hover {
  background-position: -29px 9px;
}

.constructor-control_items-leftarrow {
  position: absolute;
  top: 43px;
  left: -6px;
  background-image: url(/img/ui/scroll-arrow-left.png);
  width: 34px;
  height: 82px;
  background-position: 0px 9px;
  background-repeat: no-repeat;
  display: none;
}

.constructor-control_items-leftarrow__visible {
  display: block;
}

.constructor-control_items-leftarrow:hover {
  background-position: -35px 9px;
}

.constructor-control_item {
  display: inline-block;
  vertical-align: top;
  width: 68px;
  height: 68px;
  background-image: url('/img/ui/item-circle.png');
  background-repeat:no-repeat;
  background-position: 0 0;
  text-align:center;
  margin: 0 4px;
  opacity: 0.4;
}

.constructor-control_item:hover{
  opacity: 1;
}

.constructor-control_item__active {
  opacity: 1;
}

.constructor-control_item-img {
  width: 42px;
  margin-top:11px;
}


.constructor-control_alter-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 68px;
  height: 68px;
  margin: 0 4px;
  opacity: 0.4;
}

.constructor-control_alter-item:hover {
  opacity: 1;
}

.constructor-control_alter-item__active {
  opacity: 1;
}

.constructor-control_alter-item-img {
  position: absolute;
  top:0;
  left: 0;
  z-index: 0;
  border-radius: 4px;
}

.constructor-control_alter-item-img__hands {
  position: absolute;
  top:10px;
  left: 0;
  z-index: 0;
}

.constructor-control_alter-item-img__strap{
  position: absolute;
  top: 2px;
  left: 1px;
  z-index: 0;
  border-radius: 34px;
  width: 65px;
}



.constructor-control_alter-item-img__m {
  width: 42px;
  top: 11px;
  left: 13px;
}



.constructor-control_alter-item-circle {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/ui/item-circle.png');
  background-repeat:no-repeat;
  background-position: 0 0;
}

.image-control {
  margin-top:7px;
  display: block;
  height: 121px;
  background-color: rgba(255,255,255,0.95);
}

.image-control_title {
  font-family: "Roboto";
  font-weight: 400;
  color: #444;
  font-size: 16px;
}

.image-control_body {
  margin-top: 10px;
  padding-left: 13px;
}

.image-control_edit {
  padding-top:10px;
}

.image-control_add {

}

.image-control_droparea {
  display: inline-block;
  vertical-align: top;
  width: 282px;
  height: 94px;
  margin-top: 13px;
  border-radius: 3px;
  border: 1px dashed #a1a1a1;
  background-color: #dde1e4;
  cursor: default;
}

.image-control_droparea__drag {
  border: 1px dashed #4d4a4a;
  background-color: #c7c9cb;
}

.image-control_droparea-loadBtn {
  font-family: 'Roboto';
  font-size: 16px;
  width: 195px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  border-radius: 1px;
  background-color: #1b78a1;
  color: #fff;
  margin: 0 auto;
  margin-top: 18px;
  cursor: default;
}

.image-control_droparea-loadBtn:hover{
  background-color: #3595bf;
}

.image-control_droparea-info {
  color: #3b3838;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top:11px;
}

.image-control_add-info {
  display: inline-block;
  vertical-align: top;
  color: #3486b5;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  margin-left: 24px;
  margin-top: 25px;
  width: 279px;
}

.image-control_preview {
  max-width: 100px;
  max-height: 101px;
  background-color: #dfdfdf;
}

.image-control_btns {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
}



.image-control_transformBtn {
  font-family: 'Roboto';
  font-size: 15px;
  height: 30px;
  width: 247px;
  line-height: 30px;
  text-align: center;
  background-color: #1b78a1;
  color: #fff;
  margin-right: 0;
  cursor: default;
}

.image-control_transformBtn:hover{
  background-color: #3595bf;
}


.text-control_editBtn__disable {
  opacity: 0.5;
}

.text-control_editBtn__disable:hover {
  background-color: #1b78a1;
}

.image-control_deleteBtn {
  font-family: 'Roboto';
  font-size: 15px;
  width: 128px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #1b78a1;
  color: #fff;
  margin-top: 10px;
  margin-right: 0;
  cursor: default;
}

.image-control_deleteBtn:hover{
  background-color: #3595bf;
}

.text-control {
  display: block;
  height: 121px;
  background-color: rgba(255,255,255,0.95);
}

.text-control_title {
  font-family: "Roboto";
  font-weight: 400;
  color: #444;
  font-size: 16px;
}

.text-control_body {
}

.text-control_textarea {
  display: inline-block;
  vertical-align: top;
  width: 286px;
  height: 79px;
  margin-right: 23px;
  margin-left: 13px;
  margin-top: 15px;
  resize: none;
  color: #535b60;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid#eee;
}

.text-control_control-panel {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}


.text-control_font {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 145px;
  margin-right: 5px;
}

.text-control_font-current {
  height: 40px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 1px;
  background-image: url(/img/ui/dropdown.png);
  background-repeat: no-repeat;
  background-position: 118px 7px;
  background-size: 26px;
  cursor: default;
}

.text-control_font-current-preview {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  padding-left: 7px;
  font-size: 17px;
}

.text-control_font-current-name {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #444;
  width: 82px;
  float: right;
  line-height: 40px;
  margin-right: 20px;
}

.text-control_font-list {
  position: absolute;
  top:40px;
  left:0;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  border:1px solid #eee;
  z-index: 1;
  display: none;
}

.text-control_font-list__visible {
  display: block;
}

.text-control_font-list-item {
  height: 40px;
  padding-left: 7px;
  cursor: default;
}

.text-control_font-list-item:hover {
  background-color: #efefef;
}

.text-control_font-list-item-preview {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  font-size: 17px;
}

.text-control_font-list-item-name {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #444;
  width: 89px;
  float: right;
  line-height: 40px;
}

.text-control_size {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 60px;
  margin-right: 5px;
}

.text-control_size-current {
  height: 40px;
  width: 100%;
  border:1px solid #eee;
  border-radius: 1px;
  background-image: url('/img/ui/dropdown.png');
  background-repeat: no-repeat;
  background-position: 29px 7px;
  background-size: 26px;
  cursor: default;
}

.text-control_size-current-name {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #444;
  line-height: 40px;
  padding-left: 5px;

}

.text-control_size-list {
  position: absolute;
  top:40px;
  left:0;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  border:1px solid #eee;
  display: none;
}

.text-control_size-list__visible {
  display: block;
}

.text-control_size-list-item {
  height: 40px;
  padding-left: 7px;
  cursor: default;
}

.text-control_size-list-item:hover {
  background-color: #efefef;
}

.text-control_size-list-item-name {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  color: #444;
  line-height: 40px;
}

.text-control_btns {
  margin-top: 10px;
  margin-bottom: 9px;
  width: 265px;
  height: 30px;
}

.text-control_editBtn {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto';
  font-size: 15px;
  padding: 5px 0px;
  width: 145px;
  text-align: center;
  background-color: #1b78a1;
  color: #fff;
  cursor: default;
}

.text-control_editBtn:hover{
  background-color: #3595bf;
}


.text-control_editBtn__disable {
  opacity: 0.5;
}

.text-control_editBtn__disable:hover {
  background-color: #1b78a1;
}

.text-control_delteBtn {
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto';
  font-size: 15px;
  padding: 5px 0px;
  width: 105px;
  text-align: center;
  background-color: #1b78a1;
  color: #fff;
  float: right;
  cursor: default;
}

.text-control_delteBtn:hover{
  background-color: #3595bf;
}

.palette {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 1px;
}

.palette_current {
  border: 1px solid #eee;
  padding: 5px;
}

.palette_current-color {
  width: 30px;
  height: 30px;
}

.palette_list {
  position: absolute;
  width: 120px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  top: 48px;
  left: -90px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.palette_list__visible {
  opacity: 1;
  visibility: visible;
  transition:opacity 0.5s linear;
}

.palette_list-item {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  padding: 0px;
  border: 1px solid rgb(202, 199, 199);
}

.palette_list-item:hover {
  border: 1px solid #eee;
}

.palette_list-item-color {
  width: 20px;
  height: 20px;
}

.palette_list-item-picker {
  width: 20px;
  height: 20px;
  background-image: url('/img/ui/hue.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.palette_picker {
  position: absolute;
  top: 48px;
  left: -176px;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}

.palette_picker__visible {
  opacity: 1;
  visibility: visible;
  transition:opacity 0.2s linear;
}

.constructor-orderinfo {
  display: inline-block;
  vertical-align: top;
  margin-left: 21px;
  width: 609px;
  height: 500px;
}

.constructor-orderinfo_text1 {
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
  font-size: 39px;
  margin-top: 80px;
  margin-left: 110px;
}

.constructor-orderinfo_text2 {
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
  font-size: 23px;
  margin-top: 65px;
  margin-left: 113px;
}

.constructor-orderinfo_text3 {
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
  font-size: 20px;
  margin-top: 17px;
  margin-left: 113px;
}

.constructor-orderinfo_btns {
  margin-top: 101px;
}

.constructor-orderinfo_newOrderBtn {
  display: inline-block;
  vertical-align: top;
  width: 206px;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  background-color: #175c7a;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;  
  margin-left: 113px;
  cursor: default;
}

.constructor-orderinfo_newOrderBtn:hover {
  background-color: #2984ac;
}

.constructor-orderinfo_askBtn {
  display: inline-block;
  vertical-align: top;
  width: 206px;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  background-color: #175c7a;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;  
  margin-left: 11px;
  cursor: default;
  text-decoration: none;
}

.constructor-orderinfo_askBtn:hover {
  background-color: #2984ac;
}

.constructor-shipping {
  height: 370px;
  padding-top:70px;
}

.constructor-shipping_inner {
  width: 820px;
  margin:0 auto;
}

.constructor-shipping_title {
  font-size:0;
  margin-bottom:57px;
}

.constructor-shipping_title-img {
  display: inline-block;
  vertical-align: top;
}

.constructor-shipping_title-text {
  display: inline-block;
  vertical-align: top;
  color: #49709b;
  font-family: Roboto;
  font-size: 41px;
  font-weight: 300;
  margin-left: 44px;
  margin-top: 6px;
}

.constructor-shipping_info {
  
  margin-left: 105px;
  font-size: 0;
}

.constructor-shipping_info-text {
  display: inline-block;
  vertical-align: top;
  color: #49709b;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 300;
  width: 622px;
  line-height: 32px;
}

.constructor-shipping_info-img {
  display: inline-block;
  vertical-align: top;
  margin-left:17px
}

.constructor-shipping_btns {
  margin-left: 105px;
  margin-top: 65px;
}


.constructor-shipping_vkBtn {
  display: inline-block;
  vertical-align: top;
  width: 87px;
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  background-color: rgb(93, 127, 164);
  background-image: url(/img/ui/vkicon.png);
  background-repeat: no-repeat;
  background-position: 9px 10px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding-left: 42px;
  cursor: pointer;
}

.constructor-shipping_vkBtn:hover {
  background-color: rgb(113, 147, 182);
}

.constructor-shipping_facebookBtn {
  display: inline-block;
  vertical-align: top;
  width: 105px;
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  background-color: rgb(93, 127, 164);
  background-image: url(/img/ui/fb-icon.png);
  background-repeat: no-repeat;
  background-position: 9px 7px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  padding-left: 24px;
  margin-left: 40px;
  cursor: pointer;
}

.constructor-shipping_facebookBtn:hover {
  background-color: rgb(113, 147, 182);
}

.constructor-shipping_twitterBtn {
  display: inline-block;
  vertical-align: top;
  width: 105px;
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  background-color: rgb(93, 127, 164);
  background-image: url(/img/ui/twitter-icon.png);
  background-repeat: no-repeat;
  background-position: 9px 9px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  padding-left: 24px;
  margin-left: 40px;
  cursor: pointer;
}

.constructor-shipping_twitterBtn:hover {
  background-color: rgb(113, 147, 182);
}


.constructor-shipping_success {

}

.constructor-shipping_success-text {
  display: inline-block;
  vertical-align: top;
  color: #49709b;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  margin-left: 105px;
}


.constructor-info {
  position: relative;
  height: 0;
  width: 1135px;
  margin: 0 auto;
  overflow: hidden;
  transition: height 0.3s linear;
}

.constructor-info__visible {
  overflow: visible;
  height: 641px;
}

.constructor-info_price {
  display: block;
  margin-left: 631px;
  width: 449px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.constructor-info_price-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #073f68;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  margin-top: 4px;
}

.constructor-info_price-label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -25px;
  width: 21px;
  height: 21px;
  background-image: url('/img/constructor/price-icon2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.constructor-info_price-val {
  display: inline-block;
  vertical-align: top;
  font-family: Roboto;
  color: #073f68;
  font-size: 26px;
  font-weight: 700
}

.constructor-info_price-val:after {
  content: "руб.";
  display: inline-block;
  vertical-align: top;
  font-family: Roboto;
  color: #073f68;
  font-size: 23px;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 2px;
}


.constructor-descr {
  position: absolute;
  top: -42px;
  left: 50%;
  margin-left: -550px;
  width: 506px; 
  opacity: 0;
  visibility: hidden;
  transition: opacity  0.2s linear;
}

.constructor-descr__visible {
  opacity: 1;
  visibility: visible;
}

.constructor-descr_head {
  height: 111px;
  line-height: 111px;
  background-image: url(/img/constructor/info-head-bg-v3.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 2px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 300;
  padding-left: 35px;
}

.constructor-descr_body {
  background-image: url(/img/constructor/info-bg-v2.png);
  background-color: #2a3993;
  background-repeat: no-repeat;
  background-position: 272px 0px;
  padding: 15px 0;
}

.constructor-descr_item {
  padding: 14px 0;
}

.constructor-descr_item-label {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  width: 161px;
  padding-left: 34px;
}

.constructor-descr_item-val {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  width: 294px;
  line-height: 20px;
}

.constructor-descr_item-val-yes {
  position: absolute;
  top: -3px;
  width: 30px;
  height: 22px;
  background-image: url(/img/ui/yes.png);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.constructor-descr_item-val-no {
  position: absolute;
  top: -3px;
  width: 30px;
  height: 22px;
  background-image: url(/img/ui/no.png);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}


.constructor-form {
  display: block;
  margin-left: 631px;
  width: 449px;
  margin-bottom: 30px;
  padding-top: 0px;
}

.constructor-form_inp {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #848aae;
  color: #646875;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  padding: 13px 0;
  padding-left: 6px;
  margin-bottom: 16px;
  outline: none;
}

.constructor-form_inp__error {
  border-bottom: 2px solid #ff2d2d;
}

.constructor-form_inp::-webkit-input-placeholder { 
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.constructor-form_inp:-moz-placeholder { 
  color: #444;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}


.constructor-form_inp::-moz-placeholder { 
  color: #444;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.constructor-form_inp:-ms-input-placeholder { 
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}


.constructor-form_text {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #848aae;
  color: #646875;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  padding: 13px 0;
  padding-left: 6px;
  margin-bottom: 16px;
  resize: none;
  height: auto; 
  max-height: 84px;
  outline: none;
}



.constructor-form_text::-webkit-input-placeholder { 
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.constructor-form_text:-moz-placeholder { 
  color: #444;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.constructor-form_text::-moz-placeholder { 
  color: #444;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.constructor-form_text:-ms-input-placeholder { 
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.constructor-form_text__comment {
  
}

.constructor-form_text__comment::-webkit-input-placeholder { 
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.constructor-form_text__comment:-moz-placeholder { 
  color: #444;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.constructor-form_text__comment::-moz-placeholder { 
  color: #444;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.constructor-form_text__comment:-ms-input-placeholder { 
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}



.constructor-form_sendBtn {
  width: 184px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  background-color: #175c7a;
  color: #fefefe;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  margin-top: 35px;
  margin-left: 0px;
  cursor: default;
}

.constructor-form_sendBtn:hover {
  background-color: #3595bf;
}

.constructor-form_loading-img {
  width: 33px;
  margin-top: 17px;
}

.openFormBtn {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  padding: 8px 39px;
  background-color: #3066f1;
  color: #fff;
  margin-top: -9px;
  font-size: 20px;
  margin-right: 10px;
  cursor: default;
}

.orderform {
  position: fixed;
  top: 60px;
  width: 355px;
  height: 522px;
  left: 50%;
  margin-left: -152px;
  background-color: #FFFFFF;
  border-radius: 3px;
  z-index: 11;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.orderform_close {
  position: absolute;
  top:2px;
  right: 2px;
  width: 20px;
  cursor: default;
}

.orderform_form {

}

.orderform_title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  color: #444;
  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 20px;
}

.orderform_label {
  margin-bottom: 10px;
}

.orederform_label-text {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: #727171;
  margin-left: 26px;
}

.orederform_label-text__req:after {
  display: inline-block;
  vertical-align: top;
  content: "*";
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: #fd1f1f;
}

.orederform_label-requried {
  display: inline-block;
  vertical-align: top;
  color: #EF8D8D;
  font-size: 13px;
  float: right;
  margin-right: 20px;
  opacity: 0;
  visibility: hidden;
}

.orederform_label-requried__visible {
  opacity: 1;
  visibility: visible;
  transition: 0.2s opacity linear;
}

.orederform_inp {
  width: 299px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  background-color: #FBFCFE;
  margin-left: 23px;
  margin-bottom: 20px;
  outline: none;
}

.orederform_inp__req {
  border: 1px solid #f66;
  background-color: #fff9f8;
}

.orederform_text {
  width: 299px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #FBFCFE;
  margin-left: 23px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
}

.orederform_sendBtn {
  display: inline-block;
  margin-left: 23px;
  background-color: #4775b9;
  line-height: 33px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
  cursor: default;
  margin-bottom: 16px;
}

.orederform_loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
}
.orederform_loading-img {
  width: 50px;
  margin-top: 200px;
}

.orderform_success {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.orderform_success-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  color: #444;
  padding: 0 20px;
  margin-top: 196px;
}

.orderform_success-closeBtn {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  padding: 8px 39px;
  background-color: #3066f1;
  color: #fff;
  margin-left: 98px;
  margin-top: 106px;
  font-size: 20px;
  margin-right: 10px;
  cursor: default;
}

.checkout-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  width: 700px;
  padding-top: 30px;
}

.checkout-info_title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  color: #444;
  margin-bottom: 30px;
}

.checkout-info_orderNum {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #444;
  margin-bottom: 15px;
  margin-left: 40px;
}

.checkout-info_orderDate {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #444;
  margin-bottom: 15px;
  margin-left: 40px;
}

.checkout-info_orderPrice {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #444;
  margin-left: 40px;
}

.checkout-info_newOrderBtn {
  display: inline-block;
  margin-top: 100px;
  background-color: #4775b9;
  line-height: 33px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
  cursor: default;
}

.checkout-info_newOrderBtn:hover {
  background-color: #3595bf;
}

.appTitle {
  display: inline-block;
  vertical-align: top;

}

.loadByEmail {
  display: inline-block;
  vertical-align: top;
  margin-top: 23px;
  margin-bottom: 40px;
}

.loadByEmail_inp {
  display: inline-block;
  vertical-align: top;
  width: 299px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  background-color: #FBFCFE;


  outline: none;
}

.loadByEmail_btn {
  display: inline-block;
  margin-left: 0px;
  background-color: #4775b9;
  line-height: 30px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
  cursor: default;
  margin-top: 2px;
  margin-bottom: 16px;
}

