.deliveryPage {
  display: block;
  position: absolute;
  top: 146px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url(/img/page-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 45px;

  &_content {
    width: 866px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.85);
    padding-bottom: 46px;
    border-left: 2px solid rgba(21, 119, 192, 0.56);
  }

  &_title {
    color: #2d3e75;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 300;
    padding-top: 24px;
    margin-bottom: 24px;
    margin-left: 46px;
  }

  &_text {
    color: #141414;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    text-indent: 20px;
    line-height: 26px;
    text-align: justify;
    padding: 0 30px;

    p {
      margin:10px 0;
    }

    b {
      font-weight: 400;
    }
  }

  &_price-list {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 20px;
    padding-top: 15px;
  }

  &_price-list-item {
    color: #3d3d3d;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
  }


}