.constrstart {
  height: 684px;
  position: relative;
  background-image: url(/img/constructor-start-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  
  &_title {
    text-align: center;
    color: #2d3e75;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 300;
    padding-top: 39px;
  }

  &_box {
    border-radius: 4px;
    border:1px solid #bcbcbc;
    width: 864px;
    height: 504px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(61, 61, 61, 0.28);
    font-size: 0;
    margin-top: 40px;
  }

  &_box-half {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;

    &__man {
      background-color:#d4d3d3;
    }

    &__woman {
      background-color:#ffffff;
    }
  }
  

  &_watch-img {
    display: block;
    background-repeat: no-repeat;
    background-position: 9px 0;
    width: 241px;
    height: 358px;
    margin: 0 auto;
    margin-top: 21px;

    &__man {
      background-image: url('/img/start-man-constr.png');
    }

    &__woman {
      background-image: url('/img/start-woman-constr.png');
    }
  }

  &_selectBtn {
    display: block;
    box-shadow: 3px 3px 9px 1px rgba(101, 100, 100, 0.68);
    border-radius: 1px;
    border: 1px solid #6c6c6c;
    background-image: linear-gradient(180deg, #817e7e 0%, #777575 50%, #606060 51%, #525252 100%);
    text-shadow: 2px 2px 7px rgba(72, 72, 72, 0.69);
    width: 286px;
    line-height: 47px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 23px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 22px;

    &:hover {
      box-shadow: 2px 2px 9px 1px rgba(101, 100, 100, 0.68);
      background-image: linear-gradient(180deg, #6e6c6c 0%, #606060 50%, #4f4f4f 51%, #494949 100%);
    }
  }

  &_watch-type {
    font-size: 22px;
    font-family: "Roboto";
    color: rgb(28, 40, 48);
    font-weight: 300;
    text-align: center;
    margin-top: 15px;

    &__man {
      color: rgb(28, 40, 48);
    }

    &__woman {
      color: #81097a;
    }
  }
}