/**
  *about
  *
  */

$aboutImgs: "/img/about";  

.about-img {
  display:inline-block;
  position:relative;

  &__img {
    display: block;
  }
}

.about-img-descr {
  background-color: #1577c0;
  padding:10px 10px;
  padding-left:20px;
  position:relative;
  
  &:before {
    content: "";
    position:absolute;
    top:0;
    left: 0px;
    width: 4px;
    height: 100%;
    background-color:#15517e;
  }

  &_right{
    text-align: right;
    padding-left:10px;
    padding-right:20px;

    &:before {
      left: auto;
      right: 0;      
    }
  }

  &__text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-indent: 0 !important;
      line-height: 20px;

    &_italic {
      font-size: 21px;
      font-style: italic;
      font-weight: 300;
    }
  }
}

.about-maintext {
    display: inline-block;
    background-color: #10578c;
    padding: 36px 10px;
    padding-left: 46px;
    position: relative;
    color: #ffffff;
    font-family: Roboto;
    font-size: 26px;
    font-style: italic;
    line-height: 36px;
    box-sizing:border-box;

  &:before {
    content: "";
    position:absolute;
    top:0;
    left: 6px;
    width: 6px;
    height: 100%;
    background-color:#fff;
  }
}

.about-text {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  text-indent: 20px;
  line-height: 28px;
  text-align: justify;  
}


.about {
  min-height:1500px;
  margin-bottom: 50px;
  
  &__title {
    background-image: url('#{$aboutImgs}/line-bg.png');
    height: 106px;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 39px;
    font-weight: 300;
    line-height: 106px;
    margin-bottom: 60px;
  }

  &__content {
    width: 1122px;
    margin:0 auto;
  }

  &__owner-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  &__owner-img-descr {
    margin-top: 2px;
  }


  &__owner-name {
    margin-bottom: 5px;
  }

  &__hello {
    width: 768px;
      margin-bottom: 30px;
  }

  &____text-title {
    
  }

  &__text-title-content {
      display: inline-block;
      vertical-align: top;
      padding-bottom: 6px;
      border-bottom: 2px solid #10578c;
      padding-left: 4px;
      padding-right: 60px;
      margin: 24px 0;
      color: #3d3d3d;
      font-family: Roboto;
      font-size: 35px;
      font-weight: 300;
  }

  &__history-text {
    margin-bottom: 60px;
  }
  
  &__first-watch-img {
    float: right;
    margin-left: 20px;
  }

  &__first-watch-img-descr {
    margin-top: 2px;
  }

  &__watch-menu {
    display: inline-block;
    vertical-align: top;
    padding-left:80px;
    padding-top: 25px;
  }

  &__watch-menu-link {
    color: #10578c;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    text-decoration: underline;
    position:relative;
    display: block;
    margin: 8px 0;
  }

  &__watch-menu-link:before {
      content: "\00B7";
      position: absolute;
      left: -22px;
      font-size: 41px;
      line-height: 25px;
  }
  
  &__watch-inside {
      width: 830px;
      margin-left: 36px;
  }

  &__text-sub-title {
    color: #3d3d3d;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 30px;

   
  }

  &__case-text {

  }

  &__case-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 3px;
  }

  &__case-img-descr {
    display: inline-block;
  }

  &__strap-text {
    overflow:hidden;
  }

  &__strap-img {
    float: right;
    margin-left: 20px;
  }

  &__clasp-text {

  }

  &__clasp-imgs-line {
    margin: 22px 0;
  }

  &__clasp-img-1 {
    
  }

  &__clasp-img-1-descr {
    position: absolute;
    width: 275px;
    right: -275px;
    top: 0;
    box-sizing: border-box;
  }

  &__clasp-img-2 {
    float: right;
  }

  &__clasp-img-2-descr {
    position: absolute;
    width: 275px;
    left: -275px;
    bottom: 0;
    box-sizing: border-box;
  }

   &__clasp-img-3 {
    
  }

  &__clasp-img-3-descr {
    position: absolute;
    width: 275px;
    right: -275px;
    top: 0;
    box-sizing: border-box;
  }

  &__clasp-img-4 {
    float: right;
    margin-right: 67px;
  }

  &__clasp-img-4-descr {
    position: absolute;
    width: 275px;
    left: -275px;
    bottom: 0;
    box-sizing: border-box;
  }

  &__hands-text {

  }

  &__face-text {
    
  }

  &__face-img {
    float: right;
    margin-left: 140px;
  }

  &__face-img-descr {
    position: absolute;
    width: 275px;
    left: -275px;
    bottom: 0;
    box-sizing: border-box;
  }

  &__all-faces-img {
    margin-top: 50px;
  }

  &__all-faces-descr {
    width: 659px;
  }

  &__build-text-1 {
    margin-bottom: 50px;
  }

  &__build-clear {
    display: inline-block;
    height: 40px;
    width: 10px;
  }

  &__build-img {
    float: left;
    margin-right: 20px;
  }

  &__build-img-descr {
    margin-top: 5px;
    margin-bottom: 80px;
  }

  &__build-text-2 {
  }

  &__conclusion {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__orderBtn {
    display: block;
    box-shadow: 3px 3px 9px 1px rgba(43, 43, 43, 0.68);
    border-radius: 1px;
    border: 1px solid #6c6c6c;
    background-image: linear-gradient(180deg, #817e7e 0%, #777575 50%, #606060 51%, #525252 100%);
    text-shadow: 2px 2px 7px rgba(72, 72, 72, 0.69);
    width: 350px;
    line-height: 47px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 23px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 22px;

    &:hover {
      box-shadow: 2px 2px 9px 1px rgba(43, 43, 43, 0.68);
      background-image: linear-gradient(180deg, #6e6c6c 0%, #606060 50%, #4f4f4f 51%, #494949 100%);
    }
  }

}


