.presets-slider {
  margin-bottom: 40px;

  &_head {
    height: 54px;
    line-height: 54px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.36);
    background-color: #2995d6;
    padding-left: 15px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
  }

  &_slider {
    background-color: rgba(255,255,255,0.95);;
    padding:14px 25px;
    padding-bottom:11px;
    position:relative;
    height: 276px;
  }

  &_slider-item {
    display: inline-block;
    vertical-align: top;
    outline: none;
    text-align: center;
    padding: 10px 0;
    border-radius:4px;
    cursor: pointer;

    &:hover {
      background-color:#ebeef0;
    }
  }

  &_slider-item-img {
    display: inline-block !important;
  }

  &_arrow {
    position:absolute;
    width: 75px;
    height: 79px;
    background-image:url("/img/constructor/presets-arrows.png");
    background-repeat:no-repeat;
    opacity: 0.9;
    top:135px;

    &__prev {
      background-position: 0 0;
      left: -37px;
    }

    &__next {
      background-position:-75px 0;
      right: -37px;
    }

    &:hover {
      opacity: 1;
    }
  }
}