@font-face {
	font-family: Roboto;
	font-weight: 700;
	src:url(../fonts/roboto/roboto-bolt.ttf);
}

@font-face {
	font-family: Roboto;
	font-weight: 400;
	src:url(../fonts/roboto/roboto-regular.ttf);
}

@font-face {
	font-family: Roboto;
	font-weight: 400;
	src:url(../fonts/roboto/roboto-italic.ttf);
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	font-weight: 300;
	src:url(../fonts/roboto/roboto-lightItalic.ttf);
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	font-weight: 300;
	src:url(../fonts/roboto/roboto-light.ttf);
}

@font-face {
	font-family: HeinrichScript;
	font-weight: 400;
	src:url(../fonts/HeinrichScript.ttf);
}

@font-face {
	font-family: Copperplate;
	font-weight: 400;
	src:url(../fonts/Copperplate.ttf);
}