body {
  background-color: #eee;
}

.site-wrap{
  min-width: 1200px;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}

.header {
  height: 653px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('../img/header-bg.jpg');
}

.header__inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 185px;
}

.header__slogan {
  color: #fefefe;
  font-family: "HeinrichScript";
  font-size: 44px;
  font-weight: 400; 
  margin-left: 118px;
}

.header__logo {
  margin-left: 118px;
  margin-top: 145px;
}

.header__chooseBtn {
  display: block;
  border: 1px solid #9d9b25;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f265), color-stop(50%, #f4f265), color-stop(51%, #e5e242), to(#dfdc40));
  background-image: -webkit-linear-gradient(top, #f4f265 0%, #f4f265 50%, #e5e242 51%, #dfdc40 100%);
  background-image: -o-linear-gradient(top, #f4f265 0%, #f4f265 50%, #e5e242 51%, #dfdc40 100%);
  background-image: linear-gradient(180deg, #f4f265 0%, #f4f265 50%, #e5e242 51%, #dfdc40 100%);
  -webkit-box-shadow: 0px 6px 7.52px 0.48px rgba(253, 253, 253, 0.29),inset 0px 0px 1px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 6px 7.52px 0.48px rgba(253, 253, 253, 0.29),inset 0px 0px 1px 0px rgba(0, 0, 0, 0.13);
  width: 373px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-family: Copperplate;
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 3px 7px rgba(253, 253, 253, 0.56);
  margin-left: 118px;
  text-decoration: none;
}

.header__chooseBtn:hover {
  -webkit-box-shadow: 0px 2px 7.52px 0.48px rgba(253, 253, 253, 0.29), inset 0px 0px 1px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 2px 7.52px 0.48px rgba(253, 253, 253, 0.29), inset 0px 0px 1px 0px rgba(0, 0, 0, 0.13);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfa8c), color-stop(50%, #f4f265), color-stop(51%, #e5e242), to(#fcf968));
  background-image: -webkit-linear-gradient(top, #fcfa8c 0%, #f4f265 50%, #e5e242 51%, #fcf968 100%);
  background-image: -o-linear-gradient(top, #fcfa8c 0%, #f4f265 50%, #e5e242 51%, #fcf968 100%);
  background-image: linear-gradient(180deg, #fcfa8c 0%, #f4f265 50%, #e5e242 51%, #fcf968 100%);
}

.watchtypes {
  padding-bottom: 60px;
}

.watchtypes__title {
  padding-top: 64px;
  color: #000000;
  font-family: Copperplate;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
}

.watchtypes__items {
  margin-top: 75px;
  text-align: center;
  font-size: 0;
}

.watchtypes__item {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  margin: 0 18px;
  height: 470px;
  width: 247px;
}

.watchtypes__item-img {
  display: block;
  width: 247px;
  height: 317px;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  text-align: left;
}

.watchtypes__item-img_classic {
  background-image: url('../img/classic-bg.jpg');
  border:1px solid #000;
}

.watchtypes__item-img_pastel {
  background-image: url('../img/pastel-bg.jpg');
  border:1px solid #fa9fb8;
}

.watchtypes__item-img_bright {
  background-image: url('../img/bright-bg.jpg');
  border:1px solid #ff0101;
}

.watchtypes__item-img_metal {
  background-image: url('../img/metal-bg1.jpg');
  border:1px solid #595959;
}

.watchtypes__item-watch {
  position: relative;
  top:0px;
}

.watchtypes__item-watch_classic {
  left: 34px;
}

.watchtypes__item-watch_pastel {
  left: 15px;
}

.watchtypes__item-watch_bright {
  left: 8px;
}

.watchtypes__item-watch_metal {
  left: 14px;
}

.watchtypes__item-title {
  color: #000000;
  font-family: Copperplate;
  font-size: 27px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 29px;
}

.watchtypes__item-title_classic {

}

.watchtypes__item-title_pastel {
  color: #ff039d;
}

.watchtypes__item-title_bright {
  color: #ff0101;
}

.watchtypes__item-title_metal {
  color: #595959;
}


.watchtypes__item-btn {
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 44px;
  -webkit-box-shadow: 3px 3px 9px 1px rgba(101, 100, 100, 0.68);
          box-shadow: 3px 3px 9px 1px rgba(101, 100, 100, 0.68);
  border-radius: 1px;
  border: 1px solid #6c6c6c;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#817e7e), color-stop(50%, #777575), color-stop(51%, #606060), to(#525252));
  background-image: -webkit-linear-gradient(top, #817e7e 0%, #777575 50%, #606060 51%, #525252 100%);
  background-image: -o-linear-gradient(top, #817e7e 0%, #777575 50%, #606060 51%, #525252 100%);
  background-image: linear-gradient(180deg, #817e7e 0%, #777575 50%, #606060 51%, #525252 100%);
  text-shadow: 2px 2px 7px rgba(72, 72, 72, 0.69);
  color: #ffffff;
  font-family: Copperplate;
  font-size: 23px;
  font-weight: 400;
  line-height: 44px;
  text-decoration: none;
  margin-top: 25px;
}

.watchtypes__item-btn:hover{
  -webkit-box-shadow: 2px 2px 9px 1px rgba(101, 100, 100, 0.68);
          box-shadow: 2px 2px 9px 1px rgba(101, 100, 100, 0.68);
  margin-top: 26px;
}

/**
  *about
  *
  */
.about-img {
  display: inline-block;
  position: relative;
}

.about-img__img {
  display: block;
}

.about-img-descr {
  background-color: #1577c0;
  padding: 10px 10px;
  padding-left: 20px;
  position: relative;
}

.about-img-descr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 4px;
  height: 100%;
  background-color: #15517e;
}

.about-img-descr_right {
  text-align: right;
  padding-left: 10px;
  padding-right: 20px;
}

.about-img-descr_right:before {
  left: auto;
  right: 0;
}

.about-img-descr__text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-indent: 0 !important;
  line-height: 20px;
}

.about-img-descr__text_italic {
  font-size: 21px;
  font-style: italic;
  font-weight: 300;
}

.about-maintext {
  display: inline-block;
  background-color: #10578c;
  padding: 36px 10px;
  padding-left: 46px;
  position: relative;
  color: #ffffff;
  font-family: Roboto;
  font-size: 26px;
  font-style: italic;
  line-height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-maintext:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 6px;
  height: 100%;
  background-color: #fff;
}

.about-text {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  text-indent: 20px;
  line-height: 28px;
  text-align: justify;
}

.about {
  min-height: 1500px;
  margin-bottom: 50px;
}

.about__title {
  background-image: url("../img/about/line-bg1.jpg");
  height: 106px;
 text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 39px;
  font-weight: 300;
  line-height: 106px;
  margin-bottom: 60px;
}

.about__content {
  width: 1122px;
  margin: 0 auto;
}

.about__owner-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.about__owner-img-descr {
  margin-top: 2px;
}

.about__owner-name {
  margin-bottom: 5px;
}

.about__hello {
  width: 768px;
  margin-bottom: 30px;
}

.about__text-title-content {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 6px;
  border-bottom: 2px solid #10578c;
  padding-left: 4px;
  padding-right: 60px;
  margin: 24px 0;
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 300;
}

.about__history-text {
  margin-bottom: 60px;
}

.about__first-watch-img {
  float: right;
  margin-left: 20px;
}

.about__first-watch-img-descr {
  margin-top: 2px;
}

.about__watch-menu {
  display: inline-block;
  vertical-align: top;
  padding-left: 80px;
  padding-top: 25px;
}

.about__watch-menu-link {
  color: #10578c;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  text-decoration: underline;
  position: relative;
  display: block;
  margin: 8px 0;
}

.about__watch-menu-link:before {
  content: "\00B7";
  position: absolute;
  left: -22px;
  font-size: 41px;
  line-height: 25px;
}

.about__watch-inside {
  width: 830px;
  margin-left: 36px;
}

.about__text-sub-title {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 30px;
}

.about__case-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 3px;
}

.about__case-img-descr {
  display: inline-block;
}

.about__strap-text {
  overflow: hidden;
}

.about__strap-img {
  float: right;
  margin-left: 20px;
}

.about__clasp-imgs-line {
  margin: 22px 0;
}

.about__clasp-img-1-descr {
  position: absolute;
  width: 275px;
  right: -275px;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__clasp-img-2 {
  float: right;
}

.about__clasp-img-2-descr {
  position: absolute;
  width: 275px;
  left: -275px;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__clasp-img-3-descr {
  position: absolute;
  width: 275px;
  right: -275px;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__clasp-img-4 {
  float: right;
  margin-right: 67px;
}

.about__clasp-img-4-descr {
  position: absolute;
  width: 275px;
  left: -275px;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__face-img {
  float: right;
  margin-left: 140px;
}

.about__face-img-descr {
  position: absolute;
  width: 275px;
  left: -275px;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__all-faces-img {
  margin-top: 50px;
}

.about__all-faces-descr {
  width: 659px;
}

.about__build-text-1 {
  margin-bottom: 50px;
}

.about__build-clear {
  display: inline-block;
  height: 40px;
  width: 10px;
}

.about__build-img {
  float: left;
  margin-right: 20px;
}

.about__build-img-descr {
  margin-top: 5px;
  margin-bottom: 80px;
}

.about__conclusion {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about__orderBtn {
  display: block;
  width: 438px;
  line-height: 57px;
  margin: 0 auto;
  border: 1px solid #9d9d9d;
  border-radius: 2px;
  background-color: #ffffff;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  margin-top: 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d3d3), color-stop(50%, #c4bdbd), color-stop(51%, #b0aeae), to(#918f8f));
  background-image: -webkit-linear-gradient(top, #d9d3d3 0%, #c4bdbd 50%, #b0aeae 51%, #918f8f 100%);
  background-image: -o-linear-gradient(top, #d9d3d3 0%, #c4bdbd 50%, #b0aeae 51%, #918f8f 100%);
  background-image: linear-gradient(180deg, #d9d3d3 0%, #c4bdbd 50%, #b0aeae 51%, #918f8f 100%);
  text-shadow: 2px 2px 7px rgba(72, 72, 72, 0.69);
}

.about__orderBtn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeebeb), color-stop(50%, #c4bdbd), color-stop(51%, #b0aeae), to(#a6a3a3));
  background-image: -webkit-linear-gradient(top, #eeebeb 0%, #c4bdbd 50%, #b0aeae 51%, #a6a3a3 100%);
  background-image: -o-linear-gradient(top, #eeebeb 0%, #c4bdbd 50%, #b0aeae 51%, #a6a3a3 100%);
  background-image: linear-gradient(180deg, #eeebeb 0%, #c4bdbd 50%, #b0aeae 51%, #a6a3a3 100%);
}

.footer {
  height: 54px;
  background-image: url('../img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-position:top center;
  text-align: center;
}

.footer_year {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  line-height: 54px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.footer_copyright {
  display: inline-block;
  vertical-align: top;
  line-height: 54px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}