<div class="deliveryPage_content">
	<h1 class="deliveryPage_title">Доставка</h1>
	<div class="deliveryPage_text">
		<p>Время на производство именных часов - ТРИ ДНЯ после утверждения вами окончательного макета (его пришлет дизайнер после оформления заказа).</p>
		<p>Ваши Именные часы №1 отправляем курьерскими службами по всей России. В Москве вы сможете самостоятельно забрать часы по адресу: Москва, Ленинский проспект, д.2А (ближайшая станция метро Октябрьская Кольцевая).</p>
		<p>Мы готовы доставить ваш заказ в любой населенный пункт России <b>БЕСПЛАТНО</b> в благодарность за размещение изображения изображения ваших часов в вашем аккаунте социальной сети (изображение вам вышлет дизайнер для согласования).</p>
		<p>Пришлите нам ссылку на пост и мы доставим часы <b>БЕСПЛАТНО</b>.</p>
		<p>Если по какой-то причине вы считаете размещение изображения ваших именных часов в вашем аккаунте неприемлемым для себя, ниже указана стоимость доставки:</p>
		<ul class="deliveryPage_price-list">
			<li class="deliveryPage_price-list-item">Стоимость доставки по Москве - 200 руб.</li>
			<li class="deliveryPage_price-list-item">Стоимость доставки по России - зависит от региона, но не превышает 450 руб.</li>
		</ul>
	</div>
</div>

<footer class="footer-wrap footer-wrap__aboslute"></footer>