<div class="presets-slider">
	<div class="presets-slider_head">Варианты офрмления ваших часов</div>
	<slick class="presets-slider_slider" settings="vm.slickSettings" >
		<div class="presets-slider_slider-item" 
			 ng-repeat="preset in vm.presets"
			 ng-click="vm.loadPreset(preset)"
		>
			<img src="{{preset.preview}}" class="presets-slider_slider-item-img">
		</div>		
	</slick>
	<div class="presets-slider_arrow presets-slider_arrow__prev js-presets-slider-arrow-prev"></div>
	<div class="presets-slider_arrow presets-slider_arrow__next js-presets-slider-arrow-next"></div>
</div>